node_modules
yarn.lock
public
src/_graphql/**/*.generated.ts
src/store/reducerApis
src/_apis
/build
.deployment
.vscode
scripts
tsconfig.node.json
tsconfig.json
.prettierrc
codegen.yml
index.html
manifest.json
package.json
README.md
.env
src/store/**/*
src/types/serverTypes